.keyboard {
  display: flex;
  height: 150px;
  margin-top: 20px;
}

.key {
  border: 1px solid #000;
  cursor: pointer;
}

.white {
  width: 50px;
  height: 150px;
  background-color: #fff;
}

.black {
  width: 30px;
  height: 100px;
  background-color: #000;
  margin: 0 -15px;
  z-index: 1;
}

.white:active {
  background-color: #ccc;
}

.black:active {
  background-color: #333;
}
