.stem-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
}

.stem-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.vertical-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 15px;
  transform: rotate(-90deg);
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.vertical-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
