.master-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-left: 1px solid #444;
}

.control-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 20px;
  background: #555;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

input[type='range']:hover {
  opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
