.connections-container {
  color: #fff;
}

.connection {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.connection-info {
  display: flex;
  flex-direction: column;
}

.status.online {
  color: #0f0;
}

.status.ingame {
  color: #ff0;
}

.status.offline {
  color: #f00;
}
