.dm-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.handle {
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
  color: #ccc;
}

.message-input {
  margin-top: auto;
  display: flex;
}

.message-input input {
  flex-grow: 1;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
}

.message-input button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #777;
}
