:host {
  display: block;
  height: 100%;
}

.animate-grow {
  animation: grow 1s ease-out;
  transform-origin: bottom;
}

@keyframes grow {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}

@keyframes grow {
  from { height: 0; }
  to { height: 100%; }
}
